footer {
  font-family: $heading-font;
  background-color: $footer-bg-color;
  color: $secondary-color;
  padding: $base-spacing;
  text-align: center;

  p {
    margin: 0;
    font-size: 0.85rem;
  }
}
