//centering an element (wrapper)
@mixin margin-center {
  margin: {
    left: auto;
    right: auto;
  }
}

//mixins for flex layout

//centering elements in a flex container
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

//mixins for creating a flex row of evenly spaced elements
@mixin flex-layout-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-layout-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

//mixins for basic buttons in the site
@mixin basic-button-style {
  padding: 1rem;
  background-color: map-get($primary-color);
  color: map-get($secondary-color);
  font-weight: 700;
}

//styles for unordered list
@mixin ul-base {
  list-style: none;
  padding: 0;
  margin: 0;
}