.side-section {
    padding: $small-spacing;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-row: 1 / 3;
    grid-column: 2 / 3;


}



.h2-div {
    background-color: #2b71a5;
    color: white;
    padding: .5rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

// latest recipies
.recipies-group {
    display: block;
    width: 100%;
    font-family: $body-font;
    background-color: $secondary-color;
    margin: 0px;
}

.recipes-item {
    display: flex;
    text-transform: uppercase;
    font-family: $body-font;
    padding-left: 5px;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;

    p {
        padding-left: 10px;
        line-height: 1.4;
    }

    img {
        border: 2px solid $primary-color;
    }
}

.odd {
    background-color:#dcdcdc;
}

.h2.div {
    background-color: #2b71a5;
    color: white;
    padding: 1rem;
    font-family: $body-font;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

// end recipies group

//cuisines
.cuisines-group {
    display: block;
    width: 100%;
    background-color: $secondary-color;
    margin-top: 1rem;
    padding: none;
}

.cuisines-ul {
    font-family: $body-font;
    line-height: 1.75;
    padding: 10px 10px 10px 10px;



    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 300px;
        li {
            padding-right: $base-spacing;
        }
    }

    @media(min-width: 580px) {
        ul {
            height: 170px;
        }
    }

    @media(min-width: 750px) {
        ul {
            flex-wrap: nowrap;
            height: auto;
        }
    }
}

